button {
  border-radius: 34px;
  border: 1px solid #0912be;
  background: #0912be;
  color: #fff;
  padding: 11px 17px;
  font-size: 15px;
  text-decoration: none;
  transition: all 200ms ease;
  box-shadow: rgba(37, 39, 89, 0.08) 0px 8px 8px 0;
}

button:hover {
  cursor: pointer;
  background: #6e74de;
}

form {
  max-width: 100%;
  box-sizing: 20px;
  font-size: 30px;
  font-family: Arial, Helvetica, sans-serif;
}

ul {
  list-style: none;
  font-size: 15px;
  padding: 0;
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
  color: rgb(135, 135, 135);
  font-size: 16px;
  font-weight: 100;
  height: 18.8889px;
}

h1 {
  font-size: 20px;
  color: #878687;
  display: block;
  margin: 0;
  padding: 0;
  font-size: 24px;
  font-weight: 100;
  line-height: 28px;
  margin-bottom: 0;
}

body {
  font-family: arial, sans-serif;
}
h4 {
  font-size: 30px;
}

.card-group {
  display: flex;
}

.weather-app {
  padding: 40px;
  padding: top=20px;
  border: 1px solid #dadde1;
  border-radius: 5px;
}
